
html, body {
    height: 100%;
    margin: 0;


   background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{

    background-color: #1565C0;
}


.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.header {
    background: #607ee0;
}

.footer {
    text-align: center;
    background: #1565C0;
}

/* //////CONETENIDOS POR PAGINA //////////// */
.content{
    flex: 2;
    /*overflow: auto;*/
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(1,1, 1, 0);
}

.content_index{
    flex: 2;
    /*overflow: auto;*/
    padding-left: 10%;
    padding-right: 10%;
    /*margin-left: auto;
    margin-right: auto;*/

    background-color: rgba(1,1, 1, 0);
}

.datos_usuario{

    margin-left: auto;
    margin-right: auto;

    text-align: center;

}


/* ////////////////////////////////////////////// */

#boton_inicio{
    text-align: center;
}

#boton_registro{
    text-align: center;
}

#info{

    font-family: 'Fredoka One', cursive;
    text-align: center;

}

#cabecera_info{

    font-family: 'Fredoka One', cursive;
    text-align: center;

}

#foto_notificacion{

    border-radius: 80px;

}

#tarjeta_notificacion{
    text-align: center;
}

/*////////////////// NAV BAR 1 /////////////////////////////////////// */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1565C0;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 30px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(73, 132, 199);
  color: white;
}

/* ////////////// NAV BAR 2 /////////////////////////////////// */

.topnav2 {
    background-color: rgb(23, 92, 172);
    overflow: hidden;

    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav2 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 90px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav2 a:hover {
  color: black;
}


/* Add a color to the active/current link */
.topnav2 a.active {
    background-color: rgb(73, 132, 199);
    color: white;

}

.topnav2 h3{
    color: #f2f2f2;
}


#formularioEditarDatos{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

/* ///////////////////////////ICONOS DE LA TARJERA DE JUEGOS */

/*#juegoBuscaminas a {
    font-family: 'Gloria Hallelujah', cursive;
    float: left;
    color: #1565C0;
    text-align: center;
    padding: 3px 30px;
    text-decoration: none;
    font-size: 40px;
}*/

/* FOTO DE PERFIL */

#pp {
    border-radius: 80px;
    
}
