

table{
	margin: 0 auto;
}


#txtCantFilas{
	font-family: 'Jua';
	border-radius: 10px;
	text-align: center;
}

#txtCantCol{
	font-family: 'Jua';
	border-radius: 10px;
	text-align: center;
}

#txtCantMinas{
	font-family: 'Jua';
	border-radius: 10px;
	text-align: center;
}

label{
	font-size: 20px;
}
	
#rejillaJuego td input{
	font-family: 'Jua';
	font-size: 20px;
	background-color: #999595;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

#rejillaJuego td input:disabled{
	background-color: #f2eded;
	
}

#minaEncontrada {
	font-size: 50px;
	color: red;
}

